# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
_posts/Writeups/Vulnhub/Linux/Symfonos 6.1/2022-02-10-Symfonos 6.1.md
